<template name="home">
  {{#if gameRunning}}
   <div class="container-cntr game-on">
       <div class="jumbotron">
         <h1 class="jumbo-title"> aubg survival</h1>
         <h4 class="powered-by">powered by  <a href="http://fb.com/aubgspaces" target="_blank">AUBG Spaces </a></h4>
         <h1 class="jumbo-players-killed"> Players killed: <span>{{playersKilled}}</span></h1>
     </div>
   </div>

  {{/if}}

  {{#unless gameRunning}}
      <div class="container-cntr game-off">
          <div class="jumbotron">
              <h1 class="jumbo-title"> aubg survival</h1>
              <h4 class="powered-by">powered by  <a href="http://fb.com/aubgspaces" target="_blank">AUBG Spaces </a></h4>
              <div class="col-md-4 col-md-offset-4 text-center">
                  <a href="/signup" class="btn btn-sign">Sign up</a>
              </div>
          </div>
      </div>

  {{/unless}}

</template>
